body{
    background-color: rgb(241, 237, 231);
    margin: 0;
    padding: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: rgb(29, 2, 2);
    line-break: auto;
    line-height: 24px;

}
header{
    text-align: center;
}
main{
    background-color: aliceblue;

}
h1{
    color: rgb(22, 5, 5);
    font-size: 2rem;
}
h2{
    padding: 20px;
    margin: 0;
    color:rgb(16, 16, 19)
}
p{
    
    color: #333;
    font-size: 18px;
    font-family: Arial, sans-serif;
    line-height: 24px;
    text-align: justify;
    padding: 20px;
    margin: 0;
}
img{
    
    width: 200px;             
    height: 200px;             
    border: 3px solid black;     
    padding: 05px;              
    margin: 20px;    
    object-fit: cover;         

}
ul h3{
    font-weight: bold;
}
form{
    margin: 10px;
    padding:20px;
    max-width: 500px;
}
label{
    display: block;

}
input,textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

}
button{
    background-color: rgb(217, 194, 238);
    padding: 10px;
    margin:5px

}
footer{
    margin:20px ;
    text-align: center;

}



